@import "./inc/common.scss";

body {
  // background-color: #CCC;
}

.todoapp {
}

.todo-container {
  h1 {
    margin-top: 6rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  input {
    border-radius: 0;
  }

  header {
    .filter-container {
      .form-group {
        margin: 0;
        .input-group-addon {
          border-radius: 0;
        }
      }
    }
  }

  .list-group-item {
    border-radius: 0;
    padding-left: .5rem;
    position: relative;
    padding: 0;
    label {
      margin: 0;
      margin-left: 3.3rem;
      display: block;
      line-height: 1.2;
      white-space: pre;
      word-break: break-word;
      padding: 1rem 3rem 1rem 0 ;
    }

    .destroy {
      position: absolute;
      display: block;
      top: 0;
      border: 0;
      background: none;
      bottom: 0;
      right: .5rem;
      margin: auto 0;
      width: 2rem;
      height: 2rem;
      -webkit-appearance: none;
      appearance: none;
      color: red;
      &:after {
        content: 'x';
      }
    }
  }

  .toggle {
    text-align: center;
    width: 3rem;
    height: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    margin-left: -.2rem;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    &:after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
    }
    &:checked:after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
    }
  }

  footer {
    padding-top: .3em;
    font-size: .8rem;
    .nav-pills {
      text-align: center;
      .nav-item {
        display: inline-block;
        float: none;
        .nav-link {
          padding: .2em 1em;
        }
      }
    }
    .clear-completed {
      font-size: .7rem
    }
  }
}
